.boton {
    background-color: #6278F7;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    padding: 24px 32px;
    border: none;
    margin: 32px 0;
    cursor: pointer;
}

.boton:hover{
    color: #95FFD4;
}